<!-- fill iPhone screen with canvas -->


<script type="text/javascript">



</script>


<section id="robot" class="container">
    <div class="row">
        <div class="col-xs-4">
            <span>contrôle </span>
            <span>
                <input bs-switch
                       ng-model="isSelected"
                       type="checkbox"
                       switch-on-text="direct"
                       switch-off-text="distant"
                       switch-animate="true"
                       ng-true-value=0
                       ng-false-value=1>
            </span>
        </div>
        <div class="col-xs-5">
            <span>{{device.name}} on channel {{device.channel}}</span>
        </div>
        <button class="col-xs-3 btn btn-xs pull-right" ng-class="{'btn-info': deviceStatus == 0,'btn-warning': deviceStatus == 1,'btn-success': deviceStatus == 2}" ng-disabled="!device.canConnect" ng-click="connectDisconnect()"><span>{{connectStatus}}</span></button>
    </div>



    <div class="row">
        <canvas watch-polar id="can" ng-show="isConnected" width="480" height="240" style="background-color:black"></canvas>
    </div>
    <div class="row">
        <div class="col-xs-4">angle : {{input.angle}}</div>
        <div class="col-xs-4">puissance : {{input.puissance}}</div>
        <div class="col-xs-4">sens : {{input.sens}}</div>
    </div>
    <p>packets sent: <span>{{sent}}</span></p>
    <p>packets received: <span>{{received}}</span></p>
    <p>packets in transit: <span>{{transitingPackets.length}}</span></p>
</section>


