<section id="nodeserver_parameters" class="container">
    <h4>PARAMETRES DU SERVEUR NODE</h4>
    <div class="row">
        <h5>IP LOCALE</h5>
    </div>
    <div class="row">
        <input class="col-xs-4 col-xs-offset-2" type="text" ng-model="localip.ip">
        <!--<button class="col-xs-3 btn btn-xs btn-info pull-right" ng-click="testIp(localip, port)">TESTER</button>-->
        <span class="col-xs-6 col-xs-offset-2">{{localip.testinfo}}</span>
    </div>

    <div class="row">
        <h5>IP PUBLIQUE</h5>
    </div>
    <div class="row">
        <input class="col-xs-4 col-xs-offset-2" type="text" ng-model="publicip.ip">
        <!--<button class="col-xs-3 btn btn-xs btn-info pull-right" ng-click="testIp(publicip, port)">TESTER</button>-->
        <span class="col-xs-6 col-xs-offset-2">{{publicip.testinfo}}</span>
    </div>
    <div class="row">
        <h5>PORT</h5>
    </div>
    <div class="row">
        <input class="col-xs-3 col-xs-offset-2" type="text" ng-model="port">
    </div>
    <br/>
    <br/>
    <div class="row">
        <button class="col-xs-6 btn btn-info col-xs-offset-3" ng-disabled="!canSaveIps()" ng-click="saveIps()">VALIDER</button>
    </div>

</section>
