<!-- fill iPhone screen with canvas -->




<section class="container" ng-if="!robot.isConnectedToRobot">
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <button class="col-xs-12 col-md-12 col-lg-6 center-block" ng-class="{'btn-info': deviceStatus == 0,'btn-warning': deviceStatus == 1,'btn-success': deviceStatus == 2}" ng-disabled="!device.canConnect" ng-click="connectDisconnect()"><span>{{connectStatus}}</span></button>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <span>{{device.name}} on channel {{device.channel}}</span>
                </div>
            </div>
        </div>

        <!--<div class="col-xs-4">
            <span>contrôle </span>
            <span>
                <input bs-switch
                       ng-model="isSelected"
                       type="checkbox"
                       switch-on-text="direct"
                       switch-off-text="distant"
                       switch-animate="true"
                       ng-true-value=0
                       ng-false-value=1>
            </span>
        </div>
        <div class="col-xs-5">
            <span>{{device.name}} on channel {{device.channel}}</span>
        </div>
        <button class="col-xs-3 btn btn-xs pull-right" ng-class="{'btn-info': deviceStatus == 0,'btn-warning': deviceStatus == 1,'btn-success': deviceStatus == 2}" ng-disabled="!device.canConnect" ng-click="connectDisconnect()"><span>{{connectStatus}}</span></button>-->
    </div>

    <!--<div class=
    "row">
            <div class="col-xs-4">angle : {{input.angle}}</div>
            <div class="col-xs-4">puissance : {{input.puissance}}</div>
            <div class="col-xs-4">sens : {{input.sens}}</div>
        </div>
        <p>packets sent: <span>{{sent}}</span></p>
        <p>packets received: <span>{{received}}</span></p>
        <p>packets in transit: <span>{{transitingPackets.length}}</span></p>-->




</section>

<div ng-if="robot.isConnectedToRobot">
    <canvas onresize="resize_canvas()" watch-polar id="can"></canvas>



    <div class="container robot-header">
        <div class="row">
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">angle : {{input.angle}}</div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">puissance : {{input.puissance}}</div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">sens : {{input.sens}}</div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">L Speed : {{currentRobotPacket.SpeedLeftWheel}}</div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">R Speed : {{currentRobotPacket.SpeedRightWheel}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">packets sent: <span>{{sent}}</span></div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">packets received: <span>{{received}}</span></div>
            <div class="col-xs-4 col-md-2 col-lg-2 align-right">packets in transit: <span>{{transitingPackets.length}}</span></div>
        </div>
        <button class="col-xs-3 col-lg-3 pull-right" ng-class="{'btn-info': deviceStatus == 0,'btn-warning': deviceStatus == 1,'btn-success': deviceStatus == 2}" ng-disabled="!device.canConnect" ng-click="connectDisconnect()"><span>{{connectStatus}}</span></button>
    </div>
</div>


