<nav ng-controller="NavigationController" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
        <!--data-target=".navHeaderCollapse"-->
        <button class="navbar-toggle" data-toggle="collapse">
            <span class="glyphicon glyphicon-th-list"></span>
            <!--<span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
        </button>
        <!--navHeaderCollapse-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home"> <i class="glyphicon glyphicon-home"></i>&nbsp;<span>ACCUEIL</span></a></li>
                <li><a href="#/services"><i class="glyphicon glyphicon-signal"></i>&nbsp;<span>MES SERVICES</span></a></li>
                <li><a href="#/robot"><i class="glyphicon glyphicon-signal"></i>&nbsp;<span>ROBOT</span></a></li>
                <li><a href="#/parameters"><i class="glyphicon glyphicon-cog"></i>&nbsp;<span>MES PARAMETRES</span></a></li>
            </ul>
        </div>

        <div class="mobile-nav">
            <ul></ul>
            <a href="#" class="close-link"><i class="glyphicon glyphicon-arrow-up"></i></a>
        </div>

       
    </div>
</nav>


